html{
    height: 100%;
}


body{
    margin: 0;
    background-color: #304463;
    color: #06D001;
    height: 100%;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;    
}

/* Estilo do jogo*/

* {
box-sizing: border-box
}

@font-face {
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}

[tp-flappy]{
    position: relative;
    border: 5px solid #468585;
    height: 700px;
    width: 1200px;
    background-color: #FFD3B6;
    overflow: hidden;
}

.passaro {
    position: absolute;
    width: 50px;
    left: calc(50% - 30px);
}

.par-de-barreiras{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #468585, #468585);
    border: 2px solid #000;

}

.barreira .corpo {
    height: 150px;
    width: 110px;
    background: linear-gradient(90deg, #508D4E, #508D4E);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progresso {
    position: absolute;
    top: 10px;
    right: 30px;
    font-family: Pixel;
    font-size: 70px;
    z-index: 100;
}


